.bg-darkBlue{
  background-color: #8D3DAF;
}
.bg-darkest{
  background-color: #0D0D0D;
  color: #ffffff;
}
.bg-lightPink{
  background-color: #E03B8B;
}
.bg-purple{
  background-color: #8D3DAF;
}

.btn-purple {
  color: #fff;
  background-color: #8D3DAF;
  border-color: #8D3DAF;
}
.btn-check:focus+.btn-purple, .btn-purple:focus {
  color: #fff;
  background-color: #8D3DAF;
  border-color: #8D3DAF;
  box-shadow: none;
}
.btn-purple:hover {
  color: #fff;
  background-color: #a416e0;
  border-color: #a10de0;
}